.calculadora {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #0066cc;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.calculadora h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 20px; /* Reduza o espaçamento interno dos botões */
}

.botao {
    width: 40px; /* Reduza o tamanho dos botões */
    height: 40px;
    font-size: 14px; /* Reduza o tamanho da fonte dos botões */
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease; 
}

.botao:hover {
    background-color: #0eebbb;
}

#resultado {
    font-size: 28px;
    text-align: right;
    margin-bottom: 20px;
    color: #000;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

/* Estilos responsivos para telas menores que 768 pixels */
@media (max-width: 768px) {
    .calculadora {
        max-width: 300px; /* Reduza a largura máxima para telas menores */
        padding: 0px;
    }

    .calculadora h1 {
        font-size: 20px; /* Reduza o tamanho da fonte do título */
    }

    .botao {
        width: 25px; /* Reduza ainda mais o tamanho dos botões */
        height: 25px;
        font-size: 10px; /* Reduza ainda mais o tamanho da fonte dos botões */
    }

    #resultado {
        font-size: 24px; /* Reduza o tamanho da fonte do resultado */
        margin: 10px;
    }
    td {
        text-align: center;
        padding: 0px; /* Reduza o espaçamento interno dos botões */
       
    }
   
}

